<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyartech.hyperpay">

    <application>
        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false" />
    </application>
   <queries>
       <intent>
           <action android:name="android.support.customtabs.action.CustomTabsService" />
       </intent>
   </queries>
</manifest>
